.loaderRoot {
    height: 100vh;
    background-image: linear-gradient(#a6e099, rgb(12, 12, 12) 60%);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}