.root {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1rem);
    gap: 3rem;
    flex-direction: column;
    padding: 7.55% 15%;

    @media (max-width: 1024px) {
        padding: 5%;
    }

    .heroText {
        flex: 1;
        font-size: 4rem;
        height: 350px;
        display: flex;
        align-items: center;
        color: white;
        text-align: center;
        text-shadow: 0 5px 5px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.1);
        @media (max-width: 1024px) {
            font-size: 3rem;
            max-width: 100%;
            text-align: center;
        }
        @media (max-width: 550px) {
            flex: 0.7;
            font-size: 2rem;
        }
    }
}
