.root {
    background-image: linear-gradient(#a6e099, rgb(12, 12, 12) 55%);
    color: white;
    
    h1 {
        font-size: 3em;
    }

    .header {
        height: 300px;
        width: 100%;
        background-image: linear-gradient(teal, #77a16e);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 3rem;

        .headerThumbnail {
            height: 200px;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-image: linear-gradient(#77a16e, teal);
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            margin: 0 3rem;

            h2 {
                font-weight: lighter;
                font-size: 18px;
                letter-spacing: 6px;
                border-bottom: 0.5px solid white;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.popularityContainer {
    height: 40px;
    width: 40px;
    border: 2px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

.songsContainer {
    min-height: calc(100vh - 300px);
    padding-bottom: 2rem;

    :hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.song {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 8%;

    :hover {
        background-color: transparent;
    }
    .index {
        flex: 0.1;
    }
    .content {
        display: flex;
        flex-direction: column;
        // width: 40vw;
        flex: 0.5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .artists {
        // width: 40vw;
        font-size: 12px;
        color: #b3b3b3;
        display: flex;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
    .trackName {
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
    .duration {
        // width: 80px;
        flex: 0.2;
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
    }
    .preview {
        flex: 0.2;
        display: flex;
        justify-content: center;
        align-items: center;
        .playPauseBtn {
            height: 40px;
            width: 40px;
            background-color: #1ed760;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}

.tableHeader {
    @extend .song;
    text-transform: uppercase;
    color: #b5b5b5;
    letter-spacing: 2px;
    font-size: 12px;
    border-bottom: 0.5px solid #b3b3b3;
    height: 40px;
}