@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.search-bar {
  padding: 1.2rem;
  width: 100%;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border: none;
}

.dashboard h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.main {
  background-image: url("../src/assets/background.png");
  background-size:cover;
}
